@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #242424;
        --subText: #626262;
        --bgBtn: #F2B53C;
        --dotCard: #4D4D4D;
        --cardUserText: #0D0D10;
        --footerLink: #121215;
        --squareText: #868898;
        --squareBorder: #808080;
        --avatarName: #080809;
        --avatarJob: #0C0D0F;
        --bgProfil: #141414;
        --borderApp: #3E3E3E;
        --borderHeader: #D8D8D8;
        --bgEmptyApp: #CACACA;
        --bgFollow: #F6F8FF;
        --textFollow: #1A1A1F;
        --borderFollow: #DDDDDD;
        --textFooter: #111114;
        --productTitle: #131313;
        --allInPlan: #7D7D82;
        --bgValue: #B1ABA6;
        --bgNotion: #DEDFE3;
        --bgFooter: #F7F7F7;
    }
}